/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
:root {
  --bg-mycolor: rgb(122, 94, 245);
}

body {
  height: 100vh;
}

main {
  background: linear-gradient(
    to right,
    rgba(52, 21, 52, 1) 0%,
    var(--bg-mycolor) 15%,
    var(--bg-mycolor) 85%,
    rgba(52, 21, 52, 1) 100%
  );
  min-height: calc(100% - 56px);
}

article {
  min-height: calc(100vh - 56px);
  background-color: var(--bg-mycolor);
  max-width: 1200px;
  margin-inline: auto;
  padding-bottom: 16px;
}
