<article>
  <section class="container-fluid text-center pt-4">
    <h1>Welcome to CineFregon</h1>
    <p><em> a movie theater "bien chingon" </em></p>
  </section>
  <section class="d-flex flex-column align-items-center">
    <h2 class="text-center my-4">New Movies</h2>
    <div id="moviesCarousel" class="carousel slide images-container">
      <div class="carousel-indicators">
        <ng-container *ngFor="let movie of movies; index as i">
          <button
            type="button"
            data-bs-target="#moviesCarousel"
            [class.active]="i === displayMovie"
            [ariaCurrent]="i === displayMovie"
            [ariaLabel]="movie.name"
            (click)="selectMovie(i)"
          ></button>
        </ng-container>
      </div>
      <div class="carousel-inner">
        <ng-container *ngFor="let movie of movies; index as i">
          <div class="carousel-item" [class.active]="i === displayMovie">
            <img [src]="movie.pic" class="d-block w-100" [alt]="movie.name" />
            <div class="carousel-caption d-none d-md-block">
              <h5 class="movie-title">{{ movie.name }}</h5>
              <p class="movie-subtitle">
                {{ movie.description }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      <button class="carousel-control-prev" type="button" (click)="prevMovie()">
        <span
          class="carousel-control-prev-icon overlayed-content"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" (click)="nextMovie()">
        <span
          class="carousel-control-next-icon overlayed-content"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</article>
